body {
  font-family: $ff-default;
  font-size: 1.125rem;

  &::after, &::before {
    content: "";
    position: absolute;
    inset: 0 0 58% 0;
    z-index: -1;
  }

  &::after {
    background: no-repeat url(../assets/bg-mobile-light.jpg);
    background-size: cover;
    @media (min-width: 45rem) {
      background-image: url(../assets/bg-desktop-light.jpg);
    }
  }

  &::before {
    background: linear-gradient($background-gradient-1, $background-gradient-2);
    mix-blend-mode: multiply;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: $white;

  margin-block: 3rem;

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  @media (min-width: 45rem) {
    flex-direction: initial;
  }
}
